@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root{
    --color-principal: #464646;
    --color-secundario: #242424;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    height: 100%;
    width: 100%;
    background: var(--color-principal);
}
.principal{
    margin: auto;
    height: 90vh;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.secundario{
    width: 55%;
}
h1{
    color: black;
    font-family: 'Bebas Neue', cursive;
    font-size: 5em;
    text-align: center;
}
h2{
    color: var(--color-secundario);
    font-family: 'Bebas Neue', cursive;
    font-size: 3em;
    text-align: center; 
}
.imagenes{
    height: 400px;
    width: 700px;
    display: grid;
    grid-template: repeat(2,1fr)/repeat(3,1fr);
    grid-template-areas: 
    "a b c"
    "d e f";
    gap: 7px;
    box-shadow: -5px 5px 10px 5px #2424246b;
}
.imagenes a {
    width: 100%;
    height: 100%;
    position: relative;
}
.imagenes p {
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: center;
    color: rgba(7, 7, 7, 0);
    line-height: 200px;
    font-size: 2em;
    z-index: 2;
}
.imagenes p:hover{
    color: white;
    background-color:#a3a3a3c5;
}
.imagenes img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
footer{
    width: 100%;
    padding: 25px;
}
p{
    color: var(--color-secundario);
    font-family: 'Bebas Neue', cursive;
    font-size: 3em;
    text-align: end;
}
