body {
    margin: 0;
}
header {
    padding: 5px;
}
header nav ul {
    list-style-type: none ;
    font-family: sans-serif;
}
li , a {
    text-decoration: none;
}
header div {
    position: relative;
    top: -150px;
    padding: 0 40px;
    font-family: sans-serif;
    color: rgb(0, 0, 0);
}
main {
    position: relative;
    top: -120px;
    padding: 0 40px;
}
main section h2 {
    font-family:'Times New Roman', Times, serif ;
    font-style: italic;
    font-size: 30px;
}
main section ul {
    list-style: none;
    font-family: sans-serif;
}
main section ol {
    font-family: sans-serif;
}
#lemonpie {
    width: 100%;
    height: 400px;
    object-fit: cover;
}
#instrucciones {
    font-family: sans-serif;
    font-size: 40px;
    line-height: 15px;
    font-style: normal;
}
#linkmerengue {
    color: rgb(253, 137, 5);
    font-weight: bold;
}