@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;1,100;1,400&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
}
header{
    height: 120px;
    background: #00669F;
    position: sticky;
    top: 0px;
    z-index: 10;
    box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
}
header div {
    position: relative;
    width: 100%;
    height: 80px;
}
header img {
    position: relative;
    top: 5px;
    left: 10px;
    height: 70px;
}
header h1 {
    display: inline-block;
    margin-top: -50px;
    padding-left: 20px;
    vertical-align: middle;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    font-size: 35px;
    color: #FFFFFF;
}
main {
    width: 100%;
}
main div{
    margin: auto;
    width: 40%;
    text-align: center;
}
main div h1{
    margin-top: 80px;
    margin-bottom: 20px;
    font-family: 'Roboto';
    font-size: 52px;
    text-align: left;
    padding-left: 30px;
}
footer{
    position: absolute;
    bottom:0;
    width: 100%;
    height: 60px;
    background-color: #00669F;
}
footer p {
    font-family: 'Roboto';
    color: white;
    font-size:16px;
    font-weight: 300;
    line-height:60px;
    text-align: center;
}
#desc {
    height: 23px;
    background: #1CD1B0;
}
#desc p {
    padding-left: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    color: #000000;
}
#formulario{
    width: 100%;
}
#campo{
    margin: 5px;
    width: 90%;
    padding: 8px;
    display: inline-block;
    font-family: 'Roboto';
    font-weight: 100;
    font-size: 15px;
    color: grey;
    border: 1px solid #000;
}
#camposelect {
    margin: 5px;
    width: 90%;
    padding: 8px;
    display: inline-block;
    font-family: 'Roboto';
    font-weight: 100;
    font-size: 15px;
    color: grey;
    border: 1px solid #000;   
}
#campotexto{
    margin: 5px;
    height:150px;
    width: 90%;
    padding: 8px;
    display: inline-block;
    font-family: 'Roboto';
    font-weight: 100;
    font-size: 15px;
    color: grey;
    border: 1px solid #000;
    resize: vertical;
    max-height: 200px;
    min-height: 50px;
}
#formulario input:hover{
    box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.082);
}
#formulario div {
    width: 100%;
    text-align:center;
}
#boton {
    margin: 40px 10px;
    display: inline-block;
    background: #1CD1B0;
    width: 90%;
    height: 50px;
    font-family: 'Roboto';
    font-weight: 100;
    font-size: 23px;
    color: rgb(0, 0, 0);
    border-radius: 25px;
    border: none;
}
#boton:hover{
    background-color:#888888;
    color: white;
}
#dosbotones {
    margin: 40px 10px;
    display: inline-block;
    background: #1CD1B0;
    width: 40%;
    height: 50px;
    font-family: 'Roboto';
    font-weight: 100;
    font-size: 23px;
    color: rgb(0, 0, 0);
    border-radius: 25px;
    border: none;
}
#dosbotones:hover {
    background-color:#888888;
    color: white;
}