@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;1,100;1,400&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
}

header{
    height: 120px;
    background: #00669F;
    position: sticky;
    top: 0px;
    z-index: 10;
    box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
}

header h1 {
    display: inline-block;
    margin-top: 20px;
    padding-left: 20px;
    vertical-align: middle;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    color: #FFFFFF;
}

main {
    height: 78%;
    width: 100%;
    background-image: url(../img/bd-HarleyQ.png);
    background-size: cover;
}
footer{
    width: 100%;
    height: 80px;
    background-color: #00669F;
}
footer p {
    font-family: 'Roboto';
    color: white;
    font-size:20px;
    font-weight: 300;
    line-height:80px;
    text-align: center;
}
#desc {
    height: 30px;
    background: #1CD1B0;
}

#desc p {
    padding-left: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
}
#card{
    display: block;
    position: relative;
    top: 18vh;
    margin: 0 auto;
    background: white;
    height: 365px;
    width: 650px;
    border-radius: 20px;
    text-align: center;
}
#fotoperfil {
    position: relative;
    top: -100px;
    height: 150px;
    width: 150px;
    border-radius: 75px;
}
#contenido {
    position: relative;
    top: -100px;
}
#contenido h2 {
    color: #2C0187;
    font-family: 'Roboto';
    font-weight: 200;
    text-decoration-line: underline;
    text-decoration-style: solid;
    line-height: 80px;
}
#contenido p {
    font-family: 'Roboto';
    font-weight: 100;
    text-align: left;
    padding: 0 30px;
}
#logotipos {
    display: inline-block;
    position: relative;
    height: 80px;
    width: 100%;
}
#logotipos img{
    margin: 5px auto;
    width: 45px;
}
#heart{
    position: absolute;
    top: -250px;
    left: 50px;
}
#contenido a {
    display: block;
    height: 100px;
    width: 100%;
    background: #2C0187;
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 100;
    text-decoration-line: none;
    color: white;
    border-radius: 0 0 20px 20px;
    line-height: 100px;
}