@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;1,100;1,400&display=swap');

footer {
    position: absolute;
    bottom: 0px;
}
#caja {
    width: 60%;
    height: 630px;
    margin: 25px auto;
    background: #00669F;
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.3);
    border-radius: 50px;
}
#titulo {
    padding: 15px;
    height: 100px;
    width: 100%;
}
#titulo h3 {
    font-family: 'Roboto';
    font-weight: 100;
    font-size: 40px;
    color: white;
}
#titulo p {
    font-family: 'Roboto';
    font-weight: 100;
    font-size: 20px;
    color: white;
}
#nuevosuper div {
    display: inline-block;
    width: 80%;
    text-align: center;
}
#nuevosuper label {
    display: inline-block;
    width: 45%;
    margin: 10px 10px;
    font-family: 'Roboto';
    font-weight: 100;
    font-size: 20px;
    color: white;
    text-align: left;
}

#nuevosuper input , #nuevosuper select{
    display: inline-block;
    width: 40px;
    background-color: white;
    height: 60px;
    width: 100%;
    border-radius: 15px;
    border: 2px solid rgba(0, 0, 0, 0.1);
}
#foto {
    height: 10px;
    width: 40px;
}