@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;1,100;1,400&display=swap');

footer {
    position: absolute;
    bottom: 0px;
}
main div {
    width: 40%;
    height: 630px;
    margin: 25px auto;
    background: #00669F;
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.3);
    border-radius: 50px;
}
#titulo {
    padding: 20px;
    height: 20px;
    
}
#titulo h3 {
    font-family: 'Roboto';
    font-weight: 100;
    font-size: 40px;
    color: white;
}
#titulo p {
    font-family: 'Roboto';
    font-weight: 100;
    font-size: 20px;
    color: white;
}