@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;1,100;1,400&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #E5E5E5;
}
header{
    position: sticky;
    top: 0px;
    z-index: 10;
}
header h1 {
    padding: 20px 20px;
    background: #00669F;
    box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    font-size: 50px;
    line-height: 70px;
    color: #FFFFFF; 
}
main{
    margin: 30px 0 80px;
}
footer{
    width: 100%;
    height: 80px;
    background-color: #00669F;
}
footer p {
    font-family: 'Roboto';
    color: white;
    font-size:20px;
    font-weight: 300;
    line-height:80px;
    text-align: center;
}
#desc {
    height: 30px;
    background: #1CD1B0;
}
#desc p {
    padding-left: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
}
#add {
    position: fixed;
    right: 10px;
    top:50%;
    display: inline-block;
    height: 80px;
    width: 80px;
    background-color: #00669F;
    font-size: 40px;
    color: white;
    text-align: center;
    line-height: 80px;
    border-radius: 40px;
}
#card {
    position: relative;
    margin: 30px auto 50px;
    width: 350px;
    Height: 600px;
    background-color: #F3F3F3;
    text-align: center;
    border-radius: 20px 20px 0 0;
    box-shadow: 0 5px 5px 2px rgba(0, 0, 0, 0.158) ;
}
#bgperfil {
    position:relative;
    width: 100%;
    border-radius: 20px 20px 0 0;
}
#like {
    position: absolute;
    top: 20px;
    left: 20px;
    color: red;
    font-size: 30px;
}
#contenido {
    position: relative;
    top: -100px;
    font-family: 'Roboto';
    padding-bottom: 20px;
}
#fotoperfil {
    width: 150px;
    height: 150px;
    border-radius: 75px;
}
#contenido h2{
    margin:20px 0;
    font-size: 35px;
    font-weight: 400;
}
#contenido p {
    padding: 20px;
    font-size: 16px;
    text-align: left;
    font-weight: 200;
}
#contenido a {
    display:inline-block;
    padding:15px;
    background-color: #00669F;
    color: white;
    width: 180px;
    text-decoration: none;
    border-radius: 5px;
}