@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;1,100;1,400&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background: #E5E5E5;
}
header{
    height: 120px;
    background: #00669F;
    position: sticky;
    top: 0px;
    z-index: 10;
    box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
}
header div {
    position: relative;
    width: 100%;
    height: 80px;
}
header img {
    position: relative;
    top: 5px;
    left: 10px;
    height: 70px;
}
header h1 {
    display: inline-block;
    margin-top: -50px;
    padding-left: 20px;
    vertical-align: middle;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    font-size: 35px;
    color: #FFFFFF;
}
header nav {
    background: #001D2D;
    height: 40px;
    text-align: end;
}
header nav a {
    display: inline-block;
    height: 40px;
    width: 100px;
    padding-top: 8px;
    color: white;
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    font-size: 16px;
    text-align: center;
}
main{
    padding: 30px 10px 80px;
    text-align: center;
}
main section{
    height: 85vh;
    width:95%;
}
footer{
    width: 100%;
    height: 60px;
    background-color: #00669F;
}
footer p {
    font-family: 'Roboto';
    color: white;
    font-size:16px;
    font-weight: 300;
    line-height:60px;
    text-align: center;
}
#desc {
    height: 23px;
    background: #1CD1B0;
}
#desc p {
    padding-left: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    color: #000000;
}
#add {
    position: fixed;
    right: 10px;
    top:50%;
    display: inline-block;
    height: 80px;
    width: 80px;
    background-color: #00669F;
    font-size: 40px;
    color: white;
    text-align: center;
    line-height: 80px;
    border-radius: 40px;
}
#card {
    display: inline-block;
    position: relative;
    margin: 30px 30px 50px;
    width: 300px;
    height:528px;
    background-color: #F3F3F3;
    text-align: center;
    border-radius: 20px 20px 0 0;
    box-shadow: 0 5px 5px 2px rgba(0, 0, 0, 0.158) ;
}
#bgperfil {
    position:relative;
    width: 300px;
    height: 190px;
    border-radius: 20px 20px 0 0;
}
#like {
    position: absolute;
    top: 20px;
    left: 20px;
    color: red;
    font-size: 30px;
}
#contenido {
    position: relative;
    top: -80px;
    font-family: 'Roboto';
    padding-bottom: 20px;
}
#fotoperfil {
    width: 120px;
    height: 120px;
    border-radius: 60px;
}
#contenido h2{
    margin:10px 0;
    font-size: 30px;
    font-weight: 400;
}
#contenido p {
    padding: 15px;
    height: 160px;
    font-size: 16px;
    text-align: left;
    font-weight: 200;
}
#contenido a {
    display:inline-block;
    padding:15px;
    background-color: #00669F;
    color: white;
    height: 50px;
    width: 130px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 100;
    font-size: 15px;
}