@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');
:root {
    --colorprincipal:#FAFAFA;
    --colorsecundario: rgba(34, 34, 34, 0.5);
    --colorterciario: rgba(0, 0, 0, 0.25);
    --borde: #222222;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Inter';
    background: var(--colorprincipal);
}
header {
    height: 75px;
    width: 100vw;
    padding: 17px;
    display: grid;
    grid-template-columns: repeat(1fr);
    grid-template-rows: 40px;
    background: #FFFFFF;
    border-bottom: var(--colorterciario) 0.3px solid;
    box-shadow: 0px 1px 3px var(--colorterciario) ;
}
h1 {
    height: 100%;
    grid-column: 1/2;
    text-align: center;
    font-size: 1.5em;
    line-height: 1.5em;
    font-weight: 400;
}
.buscador {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    grid-column: 2/3;
    border-radius: 5px;
    height: 100%;
}
.buscador input{
    width: 100%;
    height: 100%;
    background-color: white;
    border-right: none;
    border-left: var(--colorterciario) 0.3px solid;
    border-bottom: var(--colorterciario) 0.3px solid;
    border-top: var(--colorterciario) 0.3px solid;
    padding: 10px;
    font-family: 'Inter';
    font-size: 0.8em;
    border-radius: 5px 0 0 5px;
}
.buscador button {
    height: 100%;
    width: 15%;
    background: white;
    border-left: none;
    border-right: var(--colorterciario) 0.3px solid;
    border-bottom: var(--colorterciario) 0.3px solid;
    border-top: var(--colorterciario) 0.3px solid;
    font-size: 0.8em;
    color: #FFFFFF;
    border-radius: 0 5px 5px 0;
    text-align: end;
    padding-right: 15px;
}
.buscador input:focus {
    width: 90%;
    height: 100%;
    outline: none;
    border-right: none;
    border-left: var(--colorterciario) 0.3px solid;
    border-bottom: var(--colorterciario) 0.3px solid;
    border-top: var(--colorterciario) 0.3px solid;
    background-color: #52525210;
    font-family: 'Inter';
    font-size: 0.8em;
}
.buscador input:focus + button {
    background-color: #52525210;
    color: var(--colorterciario);
}

.usuario-foto{
    height: 100%;
    width: 100%;
    grid-column: 3/4;
    text-align: end;
}
.usuario-foto img{
    height: 100%;
    border-radius: 50%;
}
main {
    max-width:1240px;
    padding: 109px;
    margin: 0 auto;
    display: grid;
    gap: 109px;
    grid-template-columns: 6fr 4fr;
    column-gap: 109px;
}
main>section{
    grid-column: 1/2;
    display: flex;
    flex-wrap: wrap;
}
.historias {
    display: flex;
    justify-content: space-between;
    height: 100px;
    width: 100%;
    background-color: #FFFFFF;
    border: var(--colorterciario) solid 0.4px;
    border-radius: 5px;
    padding: 20px 30px;
}
.historias img{
    height: 100%;
    border-radius: 50%;
}
.post{
    margin-top: 40px;
    height: 740px;
    width: 100%;
    background-color: #FFFFFF;
    border: var(--colorterciario) solid 0.4px;
    border-radius: 5px;
}
.info{
    display: flex;
    justify-content: space-between;
    height: 67px;
    width: 100%;
    padding: 9px;
    border-bottom: var(--colorterciario) solid 0.4px;
    align-items: center;
}
.info div{
    width: 60%;
    display: flex;
    align-items: center;
}
.info div img{
    height: 100%;
    border-radius: 50%;
}
.info div p{
    font-family: 'Inter';
    font-weight: 400;
    padding-left: 5%;
}
.info a{
    width: 6%;
}
.contenido-post{
    width: 100%;
    text-align: center;
}
.contenido-post img{
    height: 488px;
    width: 488px;
    margin: 20px 0 10px;
}
.interaccion{
    display: flex;
    width: 488px;
    margin: 0 auto;
    flex-direction: column;
    flex-wrap: nowrap;
}
.iconos i{
    color:black;
    font-size: 1.5em;
    padding-right: 12px;
}
.gusto, .cuenta-de-comentarios{
    font-family: 'Inter';
    font-size: 12px;
    font-weight: 400;
}
.gusto{
    margin-top: 10px;
}
.cuenta-de-comentarios{
    margin: 10px 0;
    color: var(--colorsecundario);
}
.comentarios{
    font-family: 'Inter';
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
}
main>aside {
    display: flex;
    grid-column: 2/3;
    flex-direction: column;
}
.usuario-info{
    display: flex;
    justify-content: space-between;
    height: 50px;
    width: 100%;
}
.usuario-info img,.otro-usuario-info img{
    height: 100%;
    border-radius: 50%;
}
.usuario-info div{
    width: 100%;
    padding: 10px 13px 0;
}
.usuario-info h5{
    line-height: 25px;
    font-size: 12px;
}
.usuario-info p{
    color: var(--colorsecundario);
    font-size: 12px;
    font-weight: 500;
}
.usuario-info a{
    align-self: center;
    text-decoration: none;
    font-weight: 500;
}
.sugerencias{
    padding: 30px 0;
    width: 100%;
}

